@using Showroom.Server.Client
@using Showroom.Client.Services
@inject IUserClient  UserClient
@attribute [Authorize]

@if (user != null)
{
    <h1>Welcome, <NameDisplay FirstName="@user.FirstName" 
                              DisplayName="@user.DisplayName" 
                              ShowFirstName="true" />!</h1>
}

@code {
    UserProfile user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await UserClient.GetUserProfileAsync(null);
        }
        catch (Exception exc)
        {
        }
    }
}
