<Modal @ref="modal" OnShow="OnShow" OnClose="OnClose">
    <ModalHeader>
        <h5 class="modal-title">
            @if (TitleTemplate != null)
            {
                @TitleTemplate
            }
            else
            {
                @Title
            }
        </h5>
        <button type="button" class="btn close" @onclick="modal.Close">×</button>
    </ModalHeader>
    <ModalBody>
        @ChildContent
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" type="button" @onclick="modal.Close">@ButtonText</button>
    </ModalFooter>
</Modal>

@code {
    Modal modal;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment TitleTemplate { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "OK";
    
    [Parameter]
    public EventCallback OnShow { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    public Task Show() => modal.Show();

    public Task Close() => modal.Close();
}